<!--
* INFT2202 - Assignment 3
* Student ID: 100948423 & 100589655
* Name: Bilgan Kiris & Mariah Laroco
* Date: March 18th, 2025
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="../../content/style.css">
</head>
<body>
<header id="header-placeholder">

</header>

<div class="container mt-4">
    <h2 class="text-center mb-4">Photo Gallery</h2>
    <div class="row" id="image"></div>
</div>


<div class="row" id="image"></div>
<div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <div class="modal-content" id="modalContent"></div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <div class="caption-container">
        <p id="caption"></p>
    </div>
</div>



<footer id="footer-placeholder" class="footer mt-auto py-3 bg-body-tertiary">

</footer>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../scripts/main.js"></script>

</body>
</html>