<!--
* INFT2202 - Assignment 2
* Student ID: 100948423 & 100589655
* Name: Bilgan Kiris & Mariah Laroco
* Date: February 23th, 2025
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy</title>

    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="../../content/style.css">
</head>
<body>

<header id="header-placeholder">

</header>
<main class="container mt-5">
    <h1>Privacy Policy</h1>
    <p>Last Updated: January 25, 2025</p>
    <p>Your privacy is important to us. This Privacy Policy explains how Volunteer Connect collects, uses, and protects your personal information...</p>

</main>
<footer id="footer-placeholder" class="footer mt-auto py-3 bg-body-tertiary">

</footer>



<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../scripts/main.js"></script>
</body>
</html>