<!--
* INFT2202 - Assignment 3
* Student ID: 100948423 & 100589655
* Name: Bilgan Kiris & Mariah Laroco
* Date: March 18th, 2025
 -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Statistics</title>

  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css">
  <link rel="stylesheet" href="/content/style.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
<header id="header-placeholder">

</header>
<main>

<div class="container mt-5">
  <h1>Visitor Statistics</h1>
  <canvas id="visitorChart"></canvas>
</div>

</main>
<footer id="footer-placeholder" class="footer mt-auto py-3 bg-body-tertiary">

</footer>

<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/scripts/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>
</html>

