<!--
* INFT2202 - Assignment 3
* Student ID: 100948423 & 100589655
* Name: Bilgan Kiris & Mariah Laroco
* Date: March 18th, 2025
 -->
<header>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div id="app" class="container-fluid">
            <a class="navbar-brand" href="#index">Volunteer Connect</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#index"><i class="fa-solid fa-house"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#opportunities"><i class="fa-solid fa-handshake-angle"></i> Volunteer Now</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#events"><i class="fa-solid fa-calendar-days"></i> Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact"><i class="fa-solid fa-address-book"></i> Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about"><i class="fa-solid fa-info"></i> About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#statistics"><i class="fa-solid fa-info"></i> Statistics</a>
                    </li>
                    <li class="nav-item" id="loginMenuItem">
                        <a class="nav-link" href="#login"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                    </li>
                    <li class="nav-item" id="welcomeMenuItem" style="display:none;">
                        <span class="nav-link" id="welcomeMessage"></span>
                    </li>
                    <li class="nav-item" id="logoutMenuItem" style="display:none;">
                        <a class="nav-link" href="javascript:void(0);" id="logoutBtn"><i class="fa-solid fa-sign-out"></i> Log Out</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="index.html" id="dropdownButton" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownButton">
                            <li><a class="dropdown-item" href="#privacy">Privacy Policy</a></li>
                            <li><a class="dropdown-item" href="#service">Terms of Service</a></li>
                            <li><a class="dropdown-item" href="#gallery">Photo Gallery</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>